@model VechicleRegistration.Models.Vehicle

@{
    ViewBag.Title = "Success";
}

<div class="successBody">
     <h2>You have completed your registration </h2>
     <h3>A slip has been sent to <b>@ViewBag.Message</b></h3>
    <br/>
    <div>
        <a href="~/Home/Index" class='btn btn-success' role='button'>Go back to homepage</a>

    </div>
</div> 